@font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono-Regular'),
        url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
html {
    height: 100vh;
    width: 100vw;
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: #1e222a;
}
#timer {
    margin: 0;
    text-align: center;
    font-family: 'JetBrainsMono', monospace;
    color: #e06c75;
    font-size: 10vw;
}
#clipboard {
    position: fixed;
    top: -727px;
}
.highlighted {
    color: #1e222a;
    background-color: #e06c75;
}
